* {
    main-bg:            #0C252AB3;
    main-fg:            #CCF7FFE6;
    main-br:            #589C70E6;
    main-ex:            #2A5E48E6;
    select-bg:          #D9F0AA80;
    select-fg:          #445229E6;
}
