* {
    main-bg:            #312D34B3;
    main-fg:            #E9CCFFE6;
    main-br:            #CCB7A9E6;
    main-ex:            #7F6347E6;
    select-bg:          #F0DDAA80;
    select-fg:          #524629E6;
}
