* {
    main-bg:            #1A1321B3;
    main-fg:            #E6CCFFE6;
    main-br:            #C76871E6;
    main-ex:            #603548E6;
    select-bg:          #F0AAB280;
    select-fg:          #52292DE6;
}
